<template>
  <v-stepper v-model="stepper" vertical>
    <v-stepper-step :complete="stepper > 1" step="1">Connexion</v-stepper-step>

    <v-stepper-content step="1">
      <v-card color="grey lighten-1" class="mb-12" height="200px">
        <Gitlab />
      </v-card>
      <v-btn color="primary" @click="stepper = 2">Continue</v-btn>
      <v-btn text>Cancel</v-btn>
    </v-stepper-content>

    <v-stepper-step :complete="stepper > 2" step="2">Configure analytics for this app</v-stepper-step>

    <v-stepper-content step="2">
      <v-card color="grey lighten-1" class="mb-12" height="200px"></v-card>
      <v-btn color="primary" @click="stepper = 3">Continue</v-btn>
      <v-btn text>Cancel</v-btn>
    </v-stepper-content>
  </v-stepper>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Gitlab from "./components/Gitlab.vue";
@Component({
  name: "FirstConnection",
  components: {
    Gitlab
  }
})
export default class FirstConnection extends Vue {
  private stepper = 1;
}
</script>
