.toolbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $toolbar-default-color;

    li {
        display: inline-block;
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $toolbar-font-color;
            font-size: $toolbar-font-size;
            padding: 9px 16px;
            text-decoration: none;
            transition: 0.3s;
            .toolbar-icon {
                display: inline-block;
                color: $toolbar-font-color;
                margin-bottom: 3px;
            }
            span{
                display: block;
            }
        }
        a:hover {
            background-color: #111;
        }
    }
}