<template>
  <v-btn>Se connecter à Gitlab</v-btn>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
@Component({
  name: "Gitlab"
})
export default class Gitlab extends Vue {
  private stepper = 1;
}
</script>
