@import 'utils/_variables.scss';
@import 'vendor/normalize.scss';
@include style-normalize;

body {
    background-color: $body-default-color;
    font-family: $body-font-family;
    font-weight: $global-weight-normal;
    line-height: $global-line-height;
    color: $body-font-color;
}