<template>
  <GitViewContainer />
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import GitViewContainer from "@/components/GitViewContainer.vue";
@Component({
  name: "Home",
  components: {
    GitViewContainer
  }
})
export default class Home extends Vue {}
</script>
