$font-size-global: 1rem !default; // Assumes the browser default, tipically '16px'

// Fonts
$font-size-base: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-big: 24px;
$font-size-sm: 12px;
$font-weight-light: 200 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-base: $font-weight-normal !default;

// Global colors
$default: #d3d3d3;
$primary: #0070c0;
$secondary: #4a8ecb;
$danger: #e23e32;
$info: #7f7f7f;
$warning: #ff9800;
$success: #5dda23;
$selected: #fff;
$link: #fff;
$dark: #1a1a1a;
$black: #000;
$white: #fff;
$blue-dark: #363636;
$text-muted: #7f7f7f85;
$gray-text: #7c7c7c;
$dark-gray: #5f5f5fff;
$light-gray: #c7c7c7ff;

// Body
$body-default-color: $white !default;
$body-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$body-font-color: $black !default;
$global-weight-normal: 400;
$global-line-height: 1.5;

// Toolbar variables
$toolbar-default-color: $blue-dark;
$toolbar-font-size: 12px;
$toolbar-font-color: #d6d6d6;