<template>
  <ul class="toolbar">
    <v-layout align-start justify-center row fill-height>
      <li>
        <a>
          <v-icon class="toolbar-icon">far fa-plus-square</v-icon>
          <span>Create</span>
        </a>
      </li>
      <li>
        <a>
          <v-icon class="toolbar-icon">far fa-share-square</v-icon>
          <span>Merge request</span>
        </a>
      </li>
      <li>
        <a>
          <v-icon class="toolbar-icon">fas fa-vial</v-icon>
          <span>Test</span>
        </a>
      </li>
      <li>
        <a>
          <v-icon class="toolbar-icon">far fa-check-square</v-icon>
          <span>Validate</span>
        </a>
      </li>
    </v-layout>
  </ul>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
@Component({
  name: "ActionToolbar"
})
export default class ActionToolbar extends Vue {}
</script>
