<template>
  <v-content>
    <ActionToolbar />
    <TaskContainer />
  </v-content>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ActionToolbar from "./ActionToolbar.vue";
import TaskContainer from "./TaskContainer.vue";
@Component({
  name: "GitViewContainer",
  components: {
    ActionToolbar,
    TaskContainer
  }
})
export default class GitViewContainer extends Vue {}
</script>
<style lang="sass"></style>
