<template>
  <v-app id="app">
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script lang ="ts">
import { Component, Vue } from "vue-property-decorator";
@Component({
  name: "App"
})
export default class App extends Vue {
  public async created() {
    this.$router.push("/first-time-setup");
  }
}
</script>
<style lang="scss">
@import "./styles/styles.scss";
#app {
  -webkit-font-smoothing: antialiased;
}
</style>
